
.main {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main.dark {
  background-color: #505050;
  color: white;
}
.main.light {
  background-color: #fff;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}